# {{ ansible_managed }}
# http://help.papertrailapp.com/kb/configuration/encrypting-remote-syslog-with-tls-ssl/#rsyslog

$DefaultNetstreamDriverCAFile /etc/ssl/certs/papertrail-bundle.pem
$ActionSendStreamDriver gtls
$ActionSendStreamDriverMode 1
$ActionSendStreamDriverAuthMode x509/name
$ActionSendStreamDriverPermittedPeer *.papertrailapp.com

*.*          @@{{ papertrail_host }}:{{ papertrail_port }}
